<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"    href="/css/addProduct.css"/>
    <title>title</title>
</head>
<body>

<div class="topnav">
          <a  href="/admin/adminHome">HOME</a>
          <a class="active" href="/admin/addProduct">ADD PRODUCTS</a>
          <a href="/admin/soldProducts">SOLD PRODUCTS</a>
          
</div>

     <form action="/admin/addProduct" enctype="multipart/form-data" method="post">
        <h1 id="add">ADD PRODUCTS<h1>
       <div class="enter">
             <div class="name">
                <label for="name" class="label">NAME OF THE PRODUCT </label>
                  <div class="name_input_div">
                    <input type="text" class="input" id="name" name="name" required >
                    
                  </div>
             </div>
            
             <div class="oldprice_div">
                    <label for="oldprice" class="label">OLD PRICE</label>
                    <div class="oldprice_input_div">
                      <input type="text" class="input" id="oldprice" name="oldprice" required>
                    </div>
              </div>
                  <div class="newprice_div">
                    <label for="newprice" class="label">NEW PRICE</label>
                    <div class="newprice_input_div">
                      <input type="text" class="input" id="newprice" name="newprice" required>
                    </div>
                  </div>
                  <div class="description">
                    <label for="desciption" class="label">DESCRIPTION </label>
                      <div class="desciption_input_div">
                        <input type="text" class="input" id="desciption" name="description" required >
                      </div>
                 </div>
                 <div class="gender">
                  <label for="gender" class="label">GENDER :</label>
                    <div class="gender_input_div">
                      <label for="male" class="label">MALE </label>
                      <input type="radio" class="radio" id="male" name="gender" value="MALE">
                      <label for="female" class="label">FEMALE </label>
                      <input type="radio" class="radio" id="female" name="gender" value="FEMALE">
                      <label for="other" class="label">OTHER</label>
                      <input type="radio" class="radio" id="other" name="gender" value="OTHER">

                    </div>
               </div> 
               <div class="category">
                <p class="label">CATEGORY</p>
                <select class="input" name="category" id="category">
                  <option value="SHOE">SHOE</option>
                  <option value="COSMOTICS">COSMOTICS</option>
                  <option value="ELECTRONICS">ELECTRONICS</option>
                  <option value="CLOTHS">CLOTHS</option>
                </select>

              </div>
              </div>
              <div class="quantity">
                <div class="quantity_input_div">
                  <label for="quantity" class="label" >QUANTITY IN NUMBER</label>
                  <input type="number" class="input" id="quantity" name="quantity" required>                   
                </div>
           </div>
               <div class="picture">
                  <div class="picture_input_div">
                    <label for="picture" class="label" >UPLOAD PICTURE</label>
                    <input type="file" class="input" id="picture" name="picture" required >                   
                  </div>
             </div>
      
                  <button type="submit" id="button">ADD</button>
               

        </div>
     
      </form>
    


</body>
</html>