<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"    href="/css/adminHome.css"/>
    <title>title</title>
</head>
<body>

  

<div class="topnav">
          <a class="active" href="/admin/home">HOME</a>
          <a href="/admin/addProduct">ADD PRODUCTS</a>
          <a href="/admin/soldProduct">SOLD PRODUCTS</a>
          
</div>

<div class="new">
<p>WELL COME <%=data.Fname%> </p>
<img src="http://localhost:3000/images/upload_images/<%=data.profilePhoto%>" alt="image" id="myphoto" width="450" 
height="300">;

</div>

</body>
</html