<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"    href="/css/home.css"/>
    <title>title</title>
</head>
<body>

  
  <nav>
    <h4>SHOP ONLINE</h4>
    <ul>
      <li><a class="active" href="/user/products">HOME</a></li>
      <li><a  href="/home/login">LOGIN</a></li>
      <li><a href="home/signup">REGISTER</a></li>
      <li><a href="/user/updateProfile">UpDate Profile</a></li>
    </ul>
  </nav>



</div>

</body>
</html