<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"    href="/css/login.css"/>
    <title>login</title>
</head>
<body>
  
  <form action="/home/login" method="post" class="form">
    <h1 id="login">LOG IN<h1>
    <div class="emailpass">
     
  <div class="email_div">
    <label for="email" class="label">Email</label>
    <div class="email_input_div">
      <input type="text" class="input" id="email" name="email" >
    </div>
  </div>
  <br><br><br>
  <div class="password_div">
    <label for="password" class="label">Password</label>
    <div class="password_input_div">
      <input type="password" class="input" id="password" name="password">
    </div>
   
    <br><br><br>
    <button type="submit" id="button">LOGIN</button>
  </div>
  <div class="message">
   <%=message%>
  </div>
</div>
</form>
 


</body>
</html