<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <link rel="stylesheet" href="/css/signup.css" />

    <title>Document</title>
  </head>

  <body>
    
 
   <form action="/home/signup" class="form" enctype="multipart/form-data" method="POST" >
      <h1 id="signup">SIGN UP<h1>
    <div class="whole">
      <br>
            <div class="form-group">    
              <label for="Fname" class="label">First Name</label>
              <input type="text" class="input" id="fname" name="fname" required />
            </div>
            <br>
            <div class="form-group">
              <label for="Lname" class="label">Last Name</label>
              <input type="text" class="input" id="lname" name="lname"  required/>
            </div>
            <br>
            <div class="form-group">
              <label for="email" class="label" >Email Address</label>
              <input
                type="email"
                class="input"
                id="email"
                name="email"
                required
              />
            </div>
            <br>
            <div class="form-group" >
              <label for="password" class="label">Password</label>
              <input
                type="password"
                class="input"
                id="password"
                name="password"
                  required
              />
            </div>
            <br>
            <div class="form-group">
              <label for="passwordConfirm" class="label">Confirm Password</label>
              <input
                type="password"
                class="input"
                id="passwordConfirm"
                name="passwordConfirm"
                required
              />
            </div>
            <br>
            <div class="gender">
              <label for="gender" class="label">Gender :</label>
                <div class="gender_input_div">
                  <label for="male" class="label">MALE </label>
                  <input type="radio" class="radio" id="male" name="gender" value="MALE">
                  <label for="female" class="label">FEMALE </label>
                  <input type="radio" class="radio" id="female" name="gender" value="FEMALE">
                  <label for="other" class="label">OTHER</label>
                  <input type="radio" class="radio" id="other" name="gender" value="OTHER">

                </div>
           </div>
           <br>
            <div class="form-group">
              <label for="address" class="label">Address </label>
              <input type="text" class="input" id="address" name="address" required/>
            </div>
            <br>
            <div class="form-group">
              <label for="creditcard" class="label">Credit card number </label>
              <input type="text" class="input" id="creditcard" name="creditcard" required/>
            </div>
            <br>
            <div class="form-group">
              <label for="profilephoto" class="label">uploadPhoto </label>
              <input type="file" class="input" id="profilephoto" name="profilephoto" />
            </div>
            
            <br><br><br>
            <button type="submit" id="button">Register User</button>
            <div class="message">
              <% if (message) { %>
                <h4 class="alwert alert-danger"><%=message%></p>
                <%} %>
              
               
               
            </div>
        
          </div>
          </form>
        
     
    <script src="/script/signup.js"></script>
  </body>
</html>
