.topnav{
    background-color:rgb(30, 198, 210);
    
    overflow: hidden;
    }
    
    .topnav button{
    color:white;
    
    float:left;
    font-size:17px;
    text-decoration:none;
    padding: 10px 25px ;
    }
    .topnav button:hover {
    background-color:grey;
    color:white;
    }
    
    
    .topnav button.active {
        background-color:rgb(224, 104, 18);
        color:white;
    }
  body{
    background-color:lightslategrey
}
.label{
    position:relative;
    color:black;
    left:50px;
}
.input{
    position:absolute;
    left:250px;
    width:250px;
    height:18px;
}
.input:hover{
    background-color:rgb(255,165,0);
}

.whole{
    position:absolute;
     left:500px;
     top:100px;
     width:600px;
   color:black;
   font-size:23px;
   background-color:white;
   border: 2px solid white;
  border-radius: 50px 50px 50px 50px; 
}

#signup{
    position:absolute;
    left:670px;
    top:28px;
    font-size:40px;
     color:white;
    font-weight:bold;
}

#button{
    position:relative;
    left:50px;
    bottom:50px;
    font-size:20px;
}
.message{
position:relative;
left:30px;
bottom:10px;
background-color:rgb(255,50,50);
color:white;
width:290px;

}

.radio{
    position:relative;
    left:50px;
}
   