.topnav{
    background-color:rgb(30, 198, 210);
    
    overflow: hidden;
    }
    
    .topnav a{
    color:white;
    
    float:left;
    font-size:17px;
    text-decoration:none;
    padding: 10px 25px ;
    }
    .topnav a:hover {
    background-color:grey;
    color:white;
    }
    
    
    .topnav a.active {
        background-color:rgb(224, 104, 18);
        color:white;
    }
    .table{
      position:relative;
      left:100px;
      top:50px;
      width:1300px;
      height:500px;
     border:10px solid black;
     Overflow-y:scroll

    }
    table{
        width:100%;
      }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        background-color:lightblue;
      }
      th{
        background-color:honeydew;
      }
   td{
    text-align: center;
   }
    body{
        background-color:cadetblue;
    }